td {
	width: 50px;
	height: 25px;
	text-align: center;
}

.hide {
	display: none;
}

.destroy {
	display: none;
	transition: color 0.2s ease-out;
}

.destroy:hover {
	color: #af5b5e;
}

.destroy:after {
	content: 'X';
}

td:hover .destroy {
	display: inline;
}

form label {
    display: inline-block;
    width:30px;
}